<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <h4>Date: <%= @weather.date %></h4>
    <h4>Current Temp: <%= @weather.temp %></h4>
    <h4>High Temp: <%= @weather.high %></h4>
    <h4>Low Temp: <%= @weather.low %></h4>
    <h4>Weather Summary: <%= @weather.summary %></h4>

    <%= image_tag(@gif) %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
